.full-page {
  height: 98vh;
}

.img-col {
  text-align: center;
}

.messenger-page-header-text,
.propose-container,
.requests-container {
  margin-top: 10px;
  text-align: center;
}

.send-message-wrapper {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.send-message {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.chat-banner {
  background-color: #91e631;
  padding: 5px;
}

.message-from-me {
  background-color: #92e63160;
  font: white;
}

.sent-message {
  margin: 5px;
}

.messenger-content {
  height: 450px;
}

.messages-list {
  height: 100%;
}

.message-field {
  width: 60%;
  background-color: white;
  width: 300px;
}

@media (max-width: 650px) {
  .fc-toolbar-title {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .fc-toolbar {
    flex-direction: column;
  }
}

.list-item {
  background-color: green;
}
